/bootstrap/compiled.php
.env.*.php
.env.php
.env
/vendor/*
/tests
/storage
/app/console
/app/exceptions/
/app/providers
/bootstrap
/config
/database/factories
/public
/resources/assets
/resources/lang
/routes/channels.php
/routes/console.php
/app/http/controllers/auth
/app/http/middleware
app/Http/Controllers/Controller\.php
artisan
phpunit.xml
server.php
yarn\.lock
webpack\.mix\.js
app/Http/Kernel\.php



package\.json

composer\.lock

composer\.json

app/User\.php

\.env\.example
